:root {
  --bg-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
}w

.app {
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

button {
  background: var(--text-color);
  color: var(--bg-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  opacity: 0.8;
}

.page {
  padding: 20px;
}
